.tasks {
  width: 100%;
  max-width: 736px;
  margin: 60px auto;
  padding: 0 1rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  width: 100%;
  max-width: 736px;
}

.footer > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer p {
  color: #4ea8de;
  font-size: 14px;
  font-weight: 700;
}

.textPurple {
  color: #8284fa !important;
}

.footer span {
  background: #333333;
  color: #d9d9d9;
  padding: 3px 9px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 700;
}

.footerContainer {
  background: #191919;
  bottom: 0;
  width: 100%;
  max-width: 736px;
  padding: 20px 10px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
