* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#root {
  height: 100%;
}

body {
  background: #191919;
  color: #f2f2f2;
  height: 100vh;
}

button {
  cursor: pointer;
}
